body {
    background-color: rgb(250, 203, 234);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hotpink;
}

li {
    float: left;

}

li a {
    display: block;
    color: purple;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: rosybrown;

}

.righty {
    float: right;
}

.active {
    background-color: white;
}